body, html {
  overflow: hidden;
}

.expand-btn div {
  transition: transform 0.3s ease-out, color 0.3s ease-in-out;
  -webkit-filter: blur(0);
}
.expand-btn.expand div {
  transform: rotate(270deg) scale(0.15, 1);
}

.loader {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  background: rgba(0, 0, 0, 0.8);
  z-index: 98;
}
.spinner {
  position: absolute;
  top: calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);

  animation: spin 1s ease-in-out infinite;
  font-size: 3rem;

  text-align: center;
  height: auto;
  width: auto;

  z-index: 99;
}

.schedule-wrapper {
  overflow-y: auto;
}
.schedule-wrapper .popover-body {
  max-height: 10em;
  overflow: auto;
}

.hw-badge {
  cursor: pointer;
}
