body, html {
  overflow: hidden;
}

.expand-btn i {
  transition: transform 0.3s ease-out;
  -webkit-filter: blur(0);
}
.expand-btn.expand i {
  transform: rotate(180deg);
}

.loader {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  background: rgba(0, 0, 0, 0.8);
  z-index: 98;
}
.spinner {
  position: absolute;
  top: calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);

  animation: spin 1s ease-in-out infinite;
  font-size: 3rem;

  text-align: center;
  height: auto;
  width: auto;

  z-index: 99;
}
