.autocomplete {
  list-style: none;
  margin: 0;
  padding: 0.3em 0.5em;

  display: none;
}
.autocomplete.show {
  display: block;
}
.autocomplete li:hover {
  filter: sepia(0.5);
  cursor: pointer;
}
.autocomplete li:nth-child(1) {
  filter: sepia(1);
  cursor: pointer;
}

.spinner {
  display: none;
}
.spinner.spin {
  display: inline-block;
  animation: spin 1s ease-in-out infinite;
  -webkit-filter: blur(0);
}
