@import url("bootstrap.min.css");

body, html {
  overflow: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  -webkit-app-region: drag;
}
.navbar * {
  -webkit-app-region: no-drag;
}

.icon-gray {
  filter: brightness(0.7);
}

.badge {
  padding: 0.25rem 0.7rem;
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
